pyrogram==2.0.106
tgcrypto

# AI & prompts
openai
groq
python-dotenv

# Web service
flask

# Text-to-Speech
gTTS
pydub

# Async utilities
asyncio

# Voice chat (Userbot)
tgcalls==3.0.0.dev24
pytgcalls==3.0.0.dev24
