# Core
pyrogram==2.0.106
tgcrypto

# AI
openai
groq
python-dotenv

# Web server
flask

# Text-to-Speech
gTTS
pydub



pyrogram==2.0.106
tgcrypto

openai
groq
python-dotenv

flask

gTTS
pydub

pytgcalls==0.0.24
