pyrofork==2.3.69
py-tgcalls==2.3.3
ntgcalls==2.2.5
tgcrypto==1.2.5
gTTS
pydub
openai
groq
python-dotenv
flask
pypdf
python-docx
python-pptx
edge_tts
PyMuPDF
pyrogram
ffmpeg-python
asyncio
aiohttp
requests
google.genai
cohere
